@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/forum-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

* {   
  margin: 0;
  padding: 0;  
  scroll-behavior: smooth;
  box-sizing: border-box;
}
  
html { 
    font-family: Forum;
    font-size: 62.5%;
    color: #73c3ff;
    background-color: #0e0e0e;
    overflow-x: hidden;
}



@media screen and (min-width: 500px) {
    main {
      display: flex;     
      width: 80vw;
      height: 90vh;      
      margin: 0 auto;
      padding-top: 4rem;
      padding-bottom: 3rem;

      font-size: 3rem;      

      background-color: #0e0e0e;      
    }
    
    img {
        max-width: 100%;
        border-radius: 2%;
      }

    .slides {
        display: inline-flex;
        margin-bottom: 2rem;

        
        
    }

    .buttons_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        gap: 1rem;       
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        gap: 1rem;
    }

    .bar {
        border-radius: 50%;
        border: #73c3ff solid 0.5rem;
    }

    .text {
        margin-top: 2rem;

    }

    
}










@media screen and (min-width: 600px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;

        background-color: rgb(123, 235, 235);
    }
    
    img {
        max-width: 100%;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    
}
                     
@media screen and (min-width: 768px) {
    body {
      background-color: #73c3ff; 
    }
}      

@media screen and (min-width: 960px) {
    body {
      background-color: #0e0e0e;
    }
}      





@media screen and (min-width: 1024px) {
    main {
      display: flex;     
      width: 80vw;
      height: 90vh;      
      margin: 0 auto;
      padding-top: 4rem;
      padding-bottom: 3rem;

      font-size: 3rem;      

      background-color: #0e0e0e;
      border: #73ff9d solid 1px;
    }
    
    img {
        max-width: 100%;
        border-radius: 2%;
      }

    .slider {
        width: 110rem;
        height: 60rem;
        margin: 0 auto;
        
        overflow: hidden;
        
        border: #73c3ff solid 1px;
    }

    .wrapper {
        transform: translate(-50%, -50%);
    }

    .slides {
        display: inline-flex;
        margin-bottom: 2rem;

        
        
    }

    .buttons_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        gap: 1rem;       
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        gap: 1rem;
    }

    .bar {
        border-radius: 50%;
        border: #73c3ff solid 0.5rem;
    }

    .text {
        margin-top: 2rem;

    }

    
}








/* Portrait tablets and small desktops */
media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
media (max-width: 767px) {

}

/* Landscape phones and smaller */
media (max-width: 480px) {

}